################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/x64/Debug
/bin-int/x64/Debug
/Physics-Assignment-Viewer/.vs
*.vcxproj
*.filters
*.user
*.sln
